@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

header {
  background-color: rgba(0, 0, 0, 0.034);
}

body {
  background-image: linear-gradient(to right, #ffe9f5, #fdedf9, #fcf2fc, #fbf6fe, #fcfaff, #fdfcff, #fefdff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);




}


